div.form-autor{
	text-align: center;
	height:25vh;
	width:300px;
	margin:auto;
	
}
div.form-autor form{
	display: flex;
	flex-direction: row;
}
div.form-autor form div{
	display: flex;
	flex-direction: column;
	align-content:center;
	
}

input{
	text-align:center;
}
	
